
:root {
    --color-primario: #7C93C3;
    --color-secundario: #55679C;
    --color-terciario: #1E2A5E;

    --fuente-letra: #E1D7B7;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: "New Amsterdam", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.presentacion{
    padding: 9% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 36px;
    font-family: "New Amsterdam", sans-serif;
}

.título-destaque{
    color: var(--color-terciario);
}

.presentacion_contenido_parrafo{
    font-size: 24px;
    font-family: "New Amsterdam", sans-serif;
}

.presentacion_enlances {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.Presentacion__enlaces__subtitulo {
    font-family: "New Amsterdam", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion_enlance_link {
    width: 378px;
    text-align: center;
    border-radius: 8%;
    font-family: "New Amsterdam", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "New Amsterdam", sans-serif;
    border: 2px solid #22D4FD;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.presentacion_enlance_link:hover {
    background-color: #272727;
}

.foto_pagina {
    border-radius: 16px;
}

.footer{
    background-color: #22D4FD;
    padding: 24px;
    color: #272727;
    text-align: center;
    font-family: "New Amsterdam", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

